/* Los estilos de tu proyecto */

body {
  color: white;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

body > section.container-fluid > section > section > nav {
  background-color: white;
  height: 13vh;
  margin: 0;
}

body > section.jumbotron > section > section > section {
  background-color: #F7B617;
  margin: 20% 0;
}

body > section.container-fluid > section > section > nav > div > div.navbar-header > a > img {
  margin: 15% 0;
}

body > section:nth-child(3) {
  background-color: #F7B617;
  padding: 3% 0;
}

body > section:nth-child(3) > section > section > section > section:nth-child(1) > img {
  width: 50%;
  margin: 0 auto;
}

body > section:nth-child(3) > section > section {
  border: 1px solid white;
  padding: 2%;
  /* background-color: red; */
}

#navbar > ul > li > a {
  color: #AAABAD;
  font-size: 1.1em;
  font-weight: 400;
}

.jumbotron {
  background-image: url('../assets/images/taxi.jpg');
  background-position: bottom;
  background-size: cover;
  height: 130vh;
  margin: 0;
}
